# Database configurations
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=smartinventory
MYSQL_USER=smartinv
MYSQL_PASSWORD=smartinv123

# Application configuration
DB_HOST=mysql
DB_PORT=3306
DB_NAME=smartinventory
DB_USER=smartinv
DB_PASSWORD=smartinv123
